@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap);

/**
標楷 cwTeXKai , serif;
圓體 cwTeXYen , sans-serif;
仿宋 cwTeXFangSong, serif;
明體
黑體 Noto Sans TC
宋體 Noto Serif TC
*/
body {
    font-family: 'Noto Serif TC', sans-serif;
    background-position: center;
    background-attachment: fixed;
    background-image: url(/images/bg-nemo.png);
}

#main {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

#card-bg {
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(/images/bg-card.png);
}

#qrcode {
    padding-top: 10px;
    height: 110px;
}

#tab-bar {
    font-family: 'Noto Sans TC', serif;
    background-color: #0004;
}

#tab-bar #top-title {
    padding-top: 10px;
    color: #fc5b5b;
}

#click {
    color: #fff !important;
    background-color: #ff8df0;
}

#tab-bar .nav-link {
    color: #ff5177;
    border-radius: 99em
}

#tab-bar .nav-link:hover {
    background-color: #ff8df0;
}

#floor {
    color: #ffbebe;
    font-size: 16px;
    background-color: rgb(46, 0, 0);
    padding: 5px;
    width: 100%;
}

#floor a {
    color: #ffbebe;
}